body{
    background-color: #99ebff;
    font: 16px "Calibri", Arial, sans-serif;
    color: #111111;
}

h1{
    font: 35px "Calibri", Arial, sans-serif;
    font-weight: bold;
    color: #111111;
}

h2{
    font: 25px "Calibri", Arial, sans-serif;
    font-weight: bold;
    color: #111111;
}

h3{
    font: 20px "Calibri", Arial, sans-serif;
    font-weight: bold;
    color: #111111;
}

a:link{
    text-decoration: none;
    color: #111111;
}

a:visited{
    text-decoration: none;
    color: #111111;
}

a:hover{
    font-weight: bold;
}

#formLogin label::after, #formLogin label::before{
    content: '\A';
    white-space: pre; 
}

#mod_profile label{
    display: inline-block;
    line-height: 30px;
    width: 150px;
}

textarea{
    height: 30px;
    width: 142px;
}

#title{
    background-color: #00ccff;
    width: 250px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font: 40px "Calibri", Arial, sans-serif;
    float: left;
    border: 2px solid #526579;
}

#navBar{
    background-color: #80ff80;
    height: 60px;
    border: 2px solid #526579;
    float: top;
}

nav ol{
    height: 60px;
    padding-left: 0px;
}

nav ol, nav li{
    list-style-type: none;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font: 35px "Calibri", Arial, sans-serif;
}

nav li{
    height: 97%;
    padding-left: 15px;
    padding-top: 4px;
    border-right: 2px solid #526579;
    padding-right: 15px;
}

nav li.active{
    background-color: #85a4a7;
}

#logout{
    height: 97%;
    text-align: center;
    float: right;
    font: 20px "Calibri", Arial, sans-serif;
    font-weight: bold;
    color: #111111;
    padding-right: 15px;
}

#logout a{
    font: 15px "Calibri", Arial, sans-serif;
    font-weight: normal;
    text-decoration: underline;
}

#logout a::before{
    content: '\A';
    white-space: pre;
}

#lat_col{
    background-color: #00ccff;
    float: left;
    height: 350px;
    width: 250px;
    text-align: center;
    border: 2px solid #526579;
}

#lat_col ul{
    list-style-type: none;
    font-weight: bold;
    padding-left: 0px;
}

#mod_profile{
    background-color: #bfbfbf;
    height: 350px;
    border: 2px solid #526579;
    text-align: center;
}

#mod_profile label{
    text-align: left;
}

#mod_profile button{
    text-align: center;
    width: 25%;
}

#title_login{
    width: 250px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font: 40px "Calibri", Arial, sans-serif;
    position: relative;
    left: 550px;
}

#formLogin{
    background-color: #bfbfbf;
    text-align: center;
    font: 20px "Calibri", Arial, sans-serif;
    width: 225px;
    height: 175px;
    border: 2px solid #526579;
    position: relative;
    left: 560px;
}
