body{
    background-color: #99ebff;
    font: 16px "Calibri", Arial, sans-serif;
    color: #111111;
}

h1{
    font: 35px "Calibri", Arial, sans-serif;
    font-weight: bold;
    color: #111111;
}

h2{
    font: 25px "Calibri", Arial, sans-serif;
    font-weight: bold;
    color: #111111;
}

h3{
    font: 20px "Calibri", Arial, sans-serif;
    font-weight: bold;
    color: #111111;
}

a:link{
    text-decoration: none;
    color: #111111;
}

a:visited{
    text-decoration: none;
    color: #111111;
}

a:hover{
    font-weight: bold;
}

#formLogin label::after, #formLogin label::before{
    content: '\A';
    white-space: pre; 
}

#mod_profile label{
    line-height: 30px;
    width: 150px;
}

